body {
    /* background-image: url("../images/Background.jpeg"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #cccccc;

    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.20), 
      rgba(0, 0, 0, 0.20)
    ),
    /* bottom, image */
    url(../images/Background.jpeg);
}

a {
    color: lightgreen;
}

.recipeBox {
    display:inline-block;
    padding: 20px;
}